<h1>Update Shelter</h1>

<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}",
                                      method: :patch,
                                      prefill_name: @shelter.name,
                                      prefill_address: @shelter.address,
                                      prefill_city: @shelter.city,
                                      prefill_state: @shelter.state,
                                      prefill_zip: @shelter.zip,
                                      button_text: 'Update Shelter' } %>
