<h1>Create New Shelter</h1>

<%= render partial: 'form', locals: { path: "/shelters",
                                      method: :post,
                                      prefill_name: nil,
                                      prefill_address: nil,
                                      prefill_city: nil,
                                      prefill_state: nil,
                                      prefill_zip: nil,
                                      button_text: 'Create Shelter' } %>
