<h1>All Favorites</h1>


<% if @favorites.empty? %>
<h2>You have no favorited pets.</h2>
<% end %>
<% @favorites.each do |id|%>
  <% pet = favorite.get_pet(id) %>
  <section class = "favorite-<%= id %>">
  <%= image_tag(pet.image) %>
  <p><%= link_to pet.name, "/pets/#{id}" %></p>
  <%= button_to "Remove Favorite", "/favorites/#{id}", method: :delete, params: {prev_page: "/favorites"} %>
  </section>
<% end %>
