<h1>Update Pet</h1>

<%= render partial: 'form', locals: { path: "/pets/#{@pet.id}",
                                      method: :patch,
                                      prefill_name: @pet.name,
                                      prefill_image: @pet.image,
                                      prefill_desc: @pet.description,
                                      prefill_age: @pet.approx_age,
                                      prefill_sex: @pet.sex,
                                      button_text: "Update Pet" } %>
