<h1>Create New Pet</h1>

<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/pets",
                                      method: :post,
                                      prefill_name: nil,
                                      prefill_image: nil,
                                      prefill_desc: nil,
                                      prefill_age: nil,
                                      prefill_sex: nil,
                                      button_text: "Create Pet" } %>
