<h1>All Applications for <%= link_to @pet.name, "/pets/#{@pet.id}"%> </h1>
<% if @applicants.empty? %>
<h2>There are no applications yet.</h2>
<% else %>
<% @applicants.each do |app|%>
    <h3><%= link_to app.name, "/applications/#{app.id}" %></h3>
  <% end %>
<% end %>
