<h1>Edit Review</h1>

<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/reviews/#{@review.id}",
                                      method: :patch,
                                      prefill_title: @review.title,
                                      prefill_image: @review.image,
                                      prefill_rating: @review.rating,
                                      prefill_content: @review.content,
                                      button_text: "Edit Review" } %>
