<h1>Add New Review</h1>

<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/reviews",
                                      method: :post,
                                      prefill_title: nil,
                                      prefill_image: nil,
                                      prefill_rating: nil,
                                      prefill_content: nil,
                                      button_text: "Add Review" } %>
